.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: -webkit-fill-available;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
  position: relative;
  }
  .landing-page-menu {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (max-width: 1023px){
    .landing-page-menu { 
      width: 90%;
    }
  }
  /* .landing-page-links-container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  } */
  .landing-page-container6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .landing-page-link05,
  .landing-page-link06,
  .landing-page-link07,
  .landing-page-link08 {
    text-decoration: none;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-container7 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .landing-page-link09,
  .landing-page-link10,
  .landing-page-link11,
  .landing-page-link12 {
    text-decoration: none;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-follow-container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-text28 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-icons-container1 {
    width: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-link13 {
    display: contents;
  }
  .landing-page-icon11 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }
  .landing-page-link14 {
    display: contents;
  }
  .landing-page-icon13 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }
  .landing-page-link15 {
    display: contents;
  }
  .landing-page-icon15 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }

  /* @media(max-width: 479px) {
    .landing-page-links-container2 {
        margin-top: var(--dl-space-space-doubleunit);
        align-items: flex-start;
        justify-content: flex-start;
      }
      .landing-page-link05 {
        margin-bottom: var(--dl-space-space-halfunit);
      }
      .landing-page-link06 {
        margin-bottom: var(--dl-space-space-halfunit);
      }
      .landing-page-link07 {
        margin-bottom: var(--dl-space-space-halfunit);
      }
      .landing-page-link08 {
        margin-bottom: var(--dl-space-space-halfunit);
      }
      .landing-page-container7 {
        height: 100%;
        align-items: flex-start;
        margin-left: 50px;
      }
      .landing-page-link09 {
        margin-bottom: var(--dl-space-space-halfunit);
      }
      .landing-page-link10 {
        margin-bottom: var(--dl-space-space-halfunit);
      }
      .landing-page-link11 {
        margin-bottom: var(--dl-space-space-halfunit);
      }
      .landing-page-link12 {
        margin-bottom: var(--dl-space-space-halfunit);
      }
      .landing-page-follow-container1 {
        margin-left: 0px;
      }
  } */

  /* @media(max-width: 767px) {
    .landing-page-links-container2 {
        margin-top: var(--dl-space-space-tripleunit);
        margin-bottom: var(--dl-space-space-tripleunit);
        justify-content: space-between;
      }
      .landing-page-container6 {
        margin-left: 0px;
      }
  } */
  .footer-copyright{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
  }
  .footer-copyright::before{
    content: '\00a9';
    margin-right: 10px;
  }